<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases><!-- type 실제 경로  alias 별명 -->
		<typeAlias type="com.jeonghwapark.buyorrent.model.MemberVO" alias="membervo" />
		<typeAlias type="com.jeonghwapark.buyorrent.model.ArticleVO" alias="articlevo" />
		<typeAlias type="com.jeonghwapark.buyorrent.model.BoardVO" alias="boardvo" />
		<typeAlias type="com.jeonghwapark.buyorrent.model.CommentVO" alias="commentvo" />
		<typeAlias type="com.jeonghwapark.buyorrent.model.TradeArticleVO" alias="tradevo" />
		<typeAlias type="com.jeonghwapark.buyorrent.model.MessageVO" alias="messagevo" />
		<typeAlias type="com.jeonghwapark.buyorrent.model.ChatroomVO" alias="chatroomvo" />
		<typeAlias type="com.jeonghwapark.buyorrent.model.AddressVO" alias="addressvo" />
	</typeAliases>
</configuration>