@charset "UTF-8";

.follow-navigation {
    position: fixed;
    right: 15%;
    bottom: 10rem;
    font-size: 25px;
}

.username:hover {
    text-decoration: underline;
}

.pop-wrap {
	width: 40%; 
	height: 75%; 
	z-index: 9999999; 
	background-color: rgba(238,238,238,0.7);
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border-radius: 5px;
}

.pop-top, .pop-bottom {
	background-color: rgba(238,238,238,0.7)
}